# Python
__pycache__/
*.pyc
.venv/
.env
.conda

# Streamlit
.streamlit/

# Data & artifacts
# artifacts/ - now tracked in git
# *.pkl - allowing scalers to be tracked
*.joblib
*.parquet

# VS Code
.vscode/
