# Python
__pycache__/
*.pyc
.venv/
.env
.conda

# Streamlit
.streamlit/

# Data & artifacts
# artifacts/ - now tracked in git
# *.pkl - allowing scalers to be tracked
*.joblib
*.parquet
*.txt


# VS Code
.vscode/
docs/section_4_2_unsupervised_baseline.md
docs/section_4_3_Predictive_CNN_Anomaly_Forecasting.md
docs/section_4_4_z24.md
docs/section_4_5_hell.md
